h1, h2, h3 {
	font-family: 'Questrial', sans-serif;
}
button, p, h4, h5, h6, input, li, a, b, i, strong, em, u {
	font-family: 'Questrial', sans-serif;
}
h4, h5, h6 {
	font-style: italic;
}
section {
	position:relative;
	text-align: center;
}
img {
	border: 1px solid rgba(0,0,0,0.75);
	box-shadow: 0 3px 4px 1px rgba(0,0,0,0.2);
}
iframe {
	/*border: 1px solid black;*/
	box-shadow: 0 3px 7px 1px rgba(0,0,0,0.6);
}
body {
	background-image: url('/images/bg/bg.png');
}
header#header {
	position:relative;
	z-index:9999999;
}
header#header.bedankt img {
    margin: 10px auto;
    float: none;
    max-height: 200px;
    display: block;
    box-shadow: 0 0;
    border:0 none;
}
header#header .intro-header {
	position: absolute;
	top:0;
	left:0;
	right:0;
	z-index:9;
	padding: 25px 15px;
	display:flex;
	align-items: center;
}
header#header img {
	max-height:80px;
}
header#header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header#header ul.nav-pixel {
	list-style-type:none;
    padding-right:15px;
}
header#header ul.nav-pixel li {
	float:left;
}
header#header ul.nav-pixel li a {
	padding: 17px 38px;
	color:white;
	font-size: 16px;
	text-transform:uppercase;
	font-weight: bold;
	letter-spacing:2px;
}
header#header ul.nav-pixel li a:hover {
	background: transparent;
	color: #dadada;
}
header#header button {
	float:right;
}
header#header .floater-header {
	position: fixed;
	top:-300px;
	left:0;
	right:0;
	z-index:10;
	padding: 25px 15px;
	background: rgba(32,26,22,.9);
	transition: top 0.3s ease 0.1s;
}
header#header.inverse .intro-header {
	background: rgba(32,26,22,.9);
}
header#header .floater-header ul.nav-pixel li {
	position:relative;
}
header#header .floater-header ul.nav-pixel li span.line {
	height:4px;
	width:0;
	background:white;
	display:block;
	margin:0 auto;
	left:50%;
	right:50%;
	position:absolute;
	bottom:2px;
	transition: all 0.2s ease 0.1s;
}
header#header .floater-header ul.nav-pixel li:hover span.line {
	width:70%;
	transition: all 0.4s;
	left:0;
	right:0;
}
header#header .floater-header.toggled {
	top:0px;
	transition: top 0.4s;
}
header#header .floater-header .floater-flex {
	display: flex;
	align-items: center;
}
/*section#intro {
	background-image: url('/images/bg/home-BG.jpg');
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center center;
}*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(32,26,22,.7);
    /*background-image: url('/images/bg/overlay.png');
    background-repeat: repeat;*/
    opacity: 0.6;
    transition: opacity 0.2s ease 0.1s;
}
section:hover .overlay {
	opacity:0.5;
	transition: opacity 0.6s ease 0.2s;
}
section#intro,
section#intro-about .container {
    min-height: 90vh;
}
section#intro .container .row .col-md-12,
section#intro-about .container .row .col-md-12 {
    padding: 225px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
#intro .container .row .col-md-12 h2.sub-title {
	color:#c1c1c1;
	text-transform:uppercase;
	margin-top: 50px;
}
#intro .container .row .col-md-12 h2.sub-title::after,
#about .container .row .col-md-12 div h1::after {
    content: '';
    width: 26%;
    height: 1px;
    background: white;
    display: block;
    margin: 15px auto 0;
}
#about .container .row .col-md-12 div h1::after {
	width: 90%;
}
#intro .container .row .col-md-12 h1 {
	font-size: 66px;
	margin-top: 0;
}
section#home .container .row {
	min-height: 90vh;
	padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
section#about,
section#intro-about {
	background-image: url('/images/bg/About-BG.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
section#intro.samenwerken,
section#bedankt {
	background-image: url('/images/bg/Work-with-me-BG.jpg');
}
section#bedankt {
    background-position: center -125px;
}
section#about .container .row .col-md-12,
section#bedankt .container .row .col-md-12 {
	min-height: 90vh;
	padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color:white;
}
section#about .container .row .col-md-12 h1,
section#intro.samenwerken h1 {
	font-size: 66px;
	margin: 0;
	text-transform:uppercase;
}
section#about .container .row .col-md-12 h2 {
	color:#c1c1c1;
	text-transform:uppercase;
	margin-top: 26px;
}
section#visuals {
    padding-top: 75px;
    padding-bottom: 75px;
}
section#visuals h2,
section#content .container .row .col-md-12 h2,
section#stills .container .row .col-md-12 h2 {
	margin-bottom: 75px;
	text-transform: uppercase;
}
section#stills .container .row .col-md-12 h2 {
	margin-top: 75px;
}
section#stills .container .row .col-md-12 h2:after,
section#content .container .row .col-md-12 h2::after,
section#visuals h2::after {
    content: '';
    width: 19%;
    height: 1px;
    background: #333;
    display: block;
    margin: 15px auto 0;
}
section#samenwerken h3.company-name {
	margin-bottom:20px;
}
section#samenwerken h5.company-contact span.tekst {
	display: block;
}
section#samenwerken h5.company-contact span.devider {
	width: 10%;
	height: 1px;
	background: #333;
	margin: 5px auto;
	display:block;
}
section#samenwerken h4.company-address {
	margin: 20px 0 50px;
}
section#content .container .row .col-md-12 h2::after {
	width: 35%;
}
section#visuals.page .container {
	padding-top:150px;
}
section#samenwerken,
section#content {
	padding: 75px 0;
}
section#content {
	padding-bottom:0;
}
section#stills img {
	border:0 none;
	box-shadow: 0 0;
}

.btn-work {
	letter-spacing: 2px;
	font-weight: bold;
	color:white;
	border-radius: 0;
	background-color: transparent;
    border: 4px solid white !important;
    text-transform: uppercase;
    padding: 12px 46px;
    transition: all 0.2s ease 0.1s;
}
.btn-work:hover{
	background-color:white;
	transition: all 0.4s;
}
.btn-work-black {
	letter-spacing: 2px;
	font-weight: bold;
	color:#111;
	border-radius: 0;
	background-color: transparent;
    border: 4px solid #111 !important;
    text-transform: uppercase;
    padding: 12px 46px;
    transition: all 0.2s ease 0.1s;	
}
.btn-work-black:hover {
	color:white;
	background-color:#111;
	transition: all 0.4s;	
}

.video-box {
	margin:15px 0;
}
.video-box iframe {
	display:block;
	width:100%;
	max-width: 100%;
}

.visual-box {
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
	background-size:cover;
	background-repeat:no-repeat;
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	left:15px;
	right:15px;
	transition: all 0.3s ease 0.2s;
}
.visual-box .overlay {
	opacity: 0.7;
	transition: opacity 0.3s ease 0.2s;
}
.visual-box:hover {
	box-shadow: 0 2px 7px 2px rgba(0,0,0,0.4);
	transition: all 0.4s;
}
.visual-box:hover .overlay {
	opacity:0.1;
	transition: all 0.4s;
}

footer#social {
	background-color: #f0f0f0;
	color:#1f1f1f;
}
footer .row {
    padding: 32px;
}
footer .social-footer-holder {
	display:flex;
	align-items:center;
	justify-content: center;
}
footer .social-footer-holder i {
	font-size:16px;
	color: rgba(34,34,34,.4);
	transition: all 0.2s;
}
footer .social-footer-holder i:hover {
	color: #222;
	transition: all 0.4s;
}
footer#contact {
    background-color: #201a16;
}
footer#contact .row {
    padding: 64px 32px;
}
footer#contact .col-md-12 {
	display:flex;
	align-items: center;
	justify-content: center;
}
footer#contact a {
	text-transform:uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}
footer#contact a:hover {
	text-decoration: none;
	color: rgba(255,255,255,0.7);
}

form.form-horizontal {
	text-align:left;
}
section#mobile-menu {
	height:0;
	overflow:hidden;
}
header#mobile,
header#header.mobile,
section#menu-toggler {
	display:none;
}

@media all and (max-width:480px) {
	section#menu-toggler {
		display:block;
	    position: fixed;
	    top: 5px;
	    z-index: 46;
	    right: 5px;
	    color: white;
	}
	section#menu-toggler .bars-holder {
	    background: rgba(0,0,0,0.2);
	    padding: 6px 10px;
	    border-radius: 68px;
	}
	#menu-toggler:hover,
	#close-mobile-menu:hover {
		cursor:pointer;
	}
	header#header {
		display:none;
	}
	header#header.mobile {
		display:block;
		z-index:20;
	}
	.video-overlay {
		display:none;
	}
	section#intro {
		background-image: url('/images/bg/home-BG.jpg');
		background-repeat:no-repeat;
		background-size: cover;
		background-position: center center;
	}
	#intro .container .row .col-md-12 h2.sub-title {
		color: #f1f1f1;
	}
	#intro .container .row .col-md-12 h1,
	section#about .container .row .col-md-12 h1, section#intro.samenwerken h1 {
		font-size: 31px;
	}
	section#about .container .row .col-md-12 h2 {
		font-size: 22px;
	}

	header#mobile {
		display:block;
		position: absolute;
		top: 10px;
		left:0;
		right:0;
		z-index: 50;
	}
	section#mobile-menu {
		position: fixed;
		right: -750px;
		height:auto;
		top:0;
		bottom:0;
		z-index: 999999999;
		width:100%;
		background: #f1f1f1;
		transition: right 0.3s ease 0.2s;
		padding: 0;
	}
	section#mobile-menu.inscreen {
		right:0;
		transition: right 0.6s ease 0.1s;
	}
	section#mobile-menu section.top {
		padding: 15px;
	}
	section#mobile-menu section.top i.fa.fa-times {
		background:rgba(0,0,0,0.2);
		padding: 5px 7px;
		border-radius:100%;
	}

	#mobile-menu img {
		box-shadow: 0 0;
		border:0 none;
		max-width: 50%;
	}
	ul.nav.nav-mobile {
		display:block;
		padding:0;
		margin:0;
	}
	ul.nav.nav-mobile ul {
		list-style-type:none;
		padding:15px 0 0;
		margin:0;
	}
	ul.nav.nav-mobile ul li {
	    width: 100%;
	    padding: 8px 0;
	    position: relative;
	}
	ul.nav.nav-mobile ul li::after {
	    content: '';
	    height: 1px;
	    background: #c1c1c1;
	    width: 42%;
	    margin: 0 auto;
	    display: block;
    }
	ul.nav.nav-mobile ul li a {
	    width: 100%;
	    text-transform: uppercase;
	    font-size: 22px;
	}
	ul.nav.nav-mobile ul li a:hover {
		text-decoration:none;
		color:#c1c1c1;
	}
}